<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="px-4">
        <h2 class="heading">Register Page</h2>

        <div class="form-group mt-2">
            <label for="name">Name</label>
            <input id="name" formControlName="name" type="text" required />
        </div>

        <div class="form-group mt-2">
            <label for="email">Email</label>
            <input id="email" formControlName="email" type="email" required />
        </div>

        <div class="form-group mt-2">
            <label for="password">Password</label>
            <input id="password" formControlName="password" type="password" required />
        </div>

        <div class="form-group mt-2">
            <label for="phone_number">Phone Number</label>
            <input id="phone_number" formControlName="phone_number" type="text" required />
        </div>

        <div class="btn">
            <button type="submit" class="custom-btn">Register</button>
        </div>
    </form>
</div>
